# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*

# MLflow
mlruns/
mlartifacts/
mlflow.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar

# IDE
.vscode/
.idea/

# Celery
celerybeat-schedule