services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  mlflow:
    build: ./mlflow
    container_name: mlflow
    ports:
      - "5000:5000"
    volumes:
      - ./mlflow/mlruns:/mlflow/mlruns
  api:
    build: .
    container_name: llm_api
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - mlflow

  worker:
    build: .
    container_name: llm_worker
    command: celery -A app.celery_worker worker --pool=solo --loglevel=info
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis
      - mlflow